
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{/artwork/artworkList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go back</a></li>
				<li><a th:href="@{/artwork/updateartwork?id=}+${artwork.id}">Edit</a></li>
			</ol>
			
		</div>
		
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
				<div class="panel-body">
					<img th:src="@{/image/artwork/}+${artwork.id}+'.png'" class="img-responsive center-block" />
				</div>
				</div>
			</div>
			<div class="col-xs-9">
				<h3 th:text="${artwork.title}"></h3>
				<div class="row">
					<div class="col-xs-6">
						<p><strong>artist: </strong><span th:text="${artwork.artist}"></span></p>
					</div>
					<div class="col-xs-6">
						<p><strong>Shipping Weight: </strong><span th:text="${artwork.shippingWeight}"></span></p>
						<p><strong>List Price: </strong><span th:text="${artwork.listPrice}"></span></p>
						<p><strong>Our Price: </strong><span th:text="${artwork.ourPrice}"></span></p>
						<p><strong>Number in Stock: </strong><span th:text="${artwork.inStockNumber}"></span></p>
					</div>
				</div>
				
				<p><Strong>Description: </Strong><span th:utext="${artwork.description}"></span></p>
			</div>
			
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
