
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div class="table-responsive">
			<table id="artworkListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>List Price</th>
						<th>Our Price</th>
						<th>Active?</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="artwork : ${artworkList}">
						<!-- <td><input hidden="hidden" name="id" th:value="${artwork.id}" /></td> -->
						<td><a th:href="@{/artwork/artworkInfo(id=${artwork.id})}"><span th:text="${artwork.title}"></span></a></td>
						<td th:text="${artwork.artist}"></td>
						<td th:text="${artwork.listPrice}"></td>
						<td th:text="${artwork.ourPrice}"></td>
						<td th:text="${artwork.active}"></td>
						<td>delete</td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#artworkListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
