<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>ArteLatte</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/applie-touch-icon.png" />
</head>

<body>
	<div th:fragment="navbar">
		<div class="page-top"
			style="width: 100%; height: 20px; background-color: #f46b42;"></div>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">ArteLatte</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown"><a th:href="@{/artworkgallery}" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Art Works <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/artworkgallery}">Browse the Gallery</a></li>
								<li><a href="#">FAQ</a></li>

							</ul></li>
						<form class="navbar-form">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control"
									placeholder="Artwork keyword" />
							</div>
							<button type="submit" class="btn btn-default">Search</button>
						</form>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}">CART</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/shoppingCart/cart}">CART</a></li>
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}">MY ACCOUNT</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">MY ACCOUNT</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>
	
	<div th:fragment="body-bottom-scripts">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>